#root {
  max-width: 1280px;
  margin: 0 auto;
}


.study-content {
  display: flex;
  align-items: center;
}

.add-button {
  justify-content: center;
  text-align: center;
}
.error-message {
  color: red;
  margin-top: 12px;
}

.content-list {
}